<%- include('header')  %> 

<div class="jumbotron text-center">
  <h1>Welcome to <%= title  %> </h1>
  <br/><br/><br/><br/>
  <form>  
    <div class="card mx-auto" style="border-radius: 15px; background-color: gray;  width: 262px; height: 370px;">
      <br/>
      <div class="card mx-auto" style="border-radius: 15px; background-color: rgb(230, 230, 193); width: 220px; height: 40px;">
        <P class="display"></P>
      </div>
      <br/><br/>
      <div class="card mx-auto" style="border: none;">
        <div class="container" style="background-color: gray;">
          <div class="row">
            <div class="col">
              <button class="display btn ml-2" style="font-size: 25px; color: white; background-color: lightgray;">7</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">8</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">9</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">/</button>
              <br/><br/>
              <button class="btn ml-2" style="font-size: 25px; color: white; background-color: lightgray;">4</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">5</button>
              <button class="btn mx-1" style="font-size: 25px; color: white; background-color: lightgray;">6</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">X</button>
              <br/><br/>
              <button class="btn ml-2" style="font-size: 25px; color: white; background-color: lightgray;">1</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">2</button>
              <button class="btn mx-1" style="font-size: 25px; color: white; background-color: lightgray;">3</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">-</button>
              <br/><br/>
              <button class="btn ml-2" style="font-size: 25px; color: white; background-color: lightgray;">0</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">.</button>
              <button class="btn mx-1" style="font-size: 25px; color: white; background-color: lightgray;">=</button>
              <button class="btn mx-2" style="font-size: 25px; color: white; background-color: lightgray;">+</button>

            
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

      </div>
    </div>


<br/><br/>

    
<%- include('footer')  %> 